html{
  scroll-behavior: smooth;
  font-size:12px;
}

hr{
  border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
  position:relative;
}

footer{
  text-align: right;
  color: white;
  background-color: black;
}
#intro{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url("craig-pexels.jpg");
  background-size:cover;
  width:auto;
  height:100vh;
}
#intro::before{
  content: "";
  position:fixed;
  top:-10px;
  left:0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.8);
  z-index:3;
}
#education{
  height:400px;
}
#edu-title{
  font-size:2.5rem;
  font-weight: bold;
  text-align: center;
}
.section-image{
  display:block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height:auto;
  max-height: 400px;
  max-width: 400px;
}

.center-ball{
  background: white;
}
.center-ball::before{
  content: "";
  width: 15px;
  height: 15px;
  background: white;
  display: inline-block;
  border: 2px solid white;
  border-radius:50%;
  position: absolute;
  top: -7px;
  left: 50%;
  margin: 0 0 0 -10px;
}
.center-square{
  background: white;
}
.center-square::before{
  content: "";
  width: 15px;
  height: 15px;
  background: white;
  display: inline-block;
  border: 2px solid white;
  position: absolute;
  top: -7px;
  left: 50%;
  margin: 0 0 0 -10px;
}
.border-line{
  border: 3px solid rgb(65, 64, 64); 
  margin:0"
}
.rem-5{
  font-size: 5rem;
}
.bg-black{
  background-color:black;
}
.icon-card{
  width:128px;
  height:170px;
  margin-left: auto;
  margin-right: auto;
}
.icon-card-text, .soft-text, .project-card-text, .edu-text {
  color:white;
  text-align:center;
  font-size: 1.5rem;
}
.soft-text{
  color:white;
  text-align:center;
  font-size:1.5rem;
}
.project-card{
  margin: 0 auto;
}
.project-card-img{
  max-width: 400px;
  max-height: 400px;
  display:block;
}

.project-card-title{
  text-align: center;
  font-size:1.5rem;
  font-weight: bold;
  color:white;
}

@media only screen and (max-width: 992px) {
  html{
    font-size:11px;
  }
  #navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
  
}
@media only screen and (max-width:576px){
  html{
    font-size:10px;
  }
  .flex-sm-col{
    flex-direction: column !important;
  }
}